<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../..//css/main.css" />
    <link rel="stylesheet" href="../..//css/users.css" />
  </head>
  <body>
    
    <% message.map((i)=>{ %> 

    <div class="box">
      <h5>
        name: 
        <span> <%= i.name %> </span>
      </h5>
      <!-- ================= -->
      <h5>
        email:
        <span> <%= i.email %> </span>
      </h5>
      <!-- ================= -->

      <!-- ================= -->
      <h5>
        message:

        <span> <%= i.message %> </span>
      </h5>


      <!-- ================= -->
    </div>
    <% }) %> 
  </body>
</html>
