<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../..//css/nav.css">
    <link rel="stylesheet" href="../..//css/main.css">
</head>
<body>
    
    <nav>
        <li><a href="">Home</a></li>
        <li><a href="">Explore</a></li>
      
        <% if (user) { %>
      
        <li><a href="/user/dashboard">Dashboard</a></li>
        <% } else { %>
          <li><a href="/user/singup">SingUp</a></li>
        <% }  %> 
      
      
      </nav>
    